.container {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    transition: background 0.2s ease, box-shadow 0.2s ease;
    background: #fff;
    box-shadow: 0 1px 0 #f7f7f7;
}

.logo {
    width: 130px;
    min-width: 130px;
    height: 50px;
    min-height: 50px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.left {
    display: flex;
    align-items: center;
    flex: 1 1;
    margin-right: 50px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transparent {
    background: 0 0;
    box-shadow: none;
}