.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: background 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 1px 0 #f7f7f7;
    background: #fff;
    height: 80px;
}

.logo {
    width: 130px;
    min-width: 130px;
    height: 50px;
    min-height: 50px;
}

@media (min-width: 1441px) {
    .logo {
        margin-right: 50px;
    }
}

@media (min-width: 901px) and (max-width: 1440px) {
    .logo {
        margin-right: 30px;
    }
}

.left {
    display: flex;
    flex: 1 1;
    align-items: center;
    margin-right: 50px;
}

.transparent {
    position: absolute;
    box-shadow: none;
    background: 0 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    height: 100%;
}

.placeholderPadding {
    min-height: 80px;
}

@media (min-width: 1441px) {
    .nav {
        padding-right: 30px;
        padding-left: 30px;
        max-width: 1600px;
    }
}

@media (min-width: 651px) {
    .nav {
        margin-right: auto;
        margin-left: auto;
    }
}
