.notFoundWrapper {
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3.5rem;
    padding-right: 20px;
    padding-bottom: 3.5rem;
    padding-left: 20px;
    width: 860px;
    max-width: 100%;
}

.notFoundTitle {
    display: block;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: -0.7px;
}

.notFoundSubtitle {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.notFoundList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.notFoundList li {
    -webkit-box-align: center;
    display: block;
    display: -webkit-box;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 9px;
    margin-bottom: 0.5rem;
    color: #5e5e5e;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

.notFoundList svg {
    fill: #5e5e5e;
    width: 100%;
    height: 100%;
}

.notFoundList i {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    font-style: normal;
}

.notFoundList strong {
    color: #1a1a1a;
    font-weight: 600;
}

.notFoundList a {
    color: inherit;
}
