*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.4;
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
}

input {
    margin: 0;
    font-size: 100%;
    line-height: 1.15;
    font-family: inherit;
}

button {
    position: relative;
    vertical-align: top;
    z-index: 0;
    transition: background-color 0.1s, border ease-in-out, transform 0.1s,
        box-shadow 5ms, border-color 0.25s;
    box-sizing: border-box;
    outline: none;
    border: 1px solid;
    border-radius: 6px;
    background: 0 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.015em;
    text-decoration: none;
    white-space: nowrap;
}

.text {
    display: block;
    outline: none;
    border: none;
    background: 0 0;
    padding: 0;
    padding-right: unset;
    padding-left: unset;
}

.clickable {
    transition: filter 0.25s ease;
    cursor: pointer;
    text-decoration: none;
}

.clickable:focus,
.clickable:hover {
    filter: brightness(0.7);
}

.icon_color-whiteFFFFFF {
    fill: #fff;
}

.link {
    text-decoration: none;
}
